:host {
  display: block;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0; // Start invisible
  animation: fadeInComponent 0.1s forwards; // Fade in quickly once rendered
}

@keyframes fadeInComponent {
  to {
    opacity: 1;
  }
}

// Copy the entire SCSS content from landing-page.component.scss
// Netflix Animation Variables
$bg-color: #000000;
$base-color: #e40913;
$animation-timing: 3.5s;

// Lamp Colors Map
$lamp-colors: (
  red: #ff0100,
  yellow: #ffde01,
  pink: #ff00cc,
  green: #04fd8f,
  orange: #ff9600,
  blue: #0084ff,
  purple: #a601f4,
  cyan: #01ffff
);

// Mixins for Browser Prefixes
@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

@mixin animation($animation) {
  -webkit-animation: $animation;
  animation: $animation;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}


// CRITICAL FIX: Prevent animations from auto-starting


// When active, allow animations to play
:host.animation-active {
  * {
    animation-play-state: running !important;
  }
}

.netflix-intro {
  display: flex;
  justify-content: center;
  align-items: center;
   position: absolute;
  width: 300px;
  height: 300px;
  overflow: hidden;
  animation-name: zoom-in;
  animation-delay: 0.5s;
  animation-duration: 2.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  background-size: 4000px;
  background-position: center;
  left: 50%;
  top:30%;
  transform: translateX(-50%,-50%);
  margin: 0 auto;

  &::before {
    content: "";
    position: absolute;
    display: block;
    background-color: $bg-color;
    width: 150%;
    height: 30%;
    left: -25%;
    bottom: -27%;
    border-radius: 50%;
    z-index: 5;
    transform-origin: left center;
    background-size: 4000px;
    background-position: -1950px 0;
  }

  &[letter="K"] {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    .helper-4 {
      width: 75%;
      height: 12%;
      left: 32%;
      top: 44%;
      transform: rotate(35deg);
      transform-origin: left center;
      overflow: hidden;
      .effect-brush {
        animation-name: brush-moving;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-delay: 0.9s;
      }
    }
    .helper-1 {
      width: 12%;
      height: 100%;
      background-color: rgba($base-color, 0.5);
      left: 25%;
      top: 0;
      transform: rotate(180deg);
      animation-name: fading-lumieres-box;
      animation-duration: 2s;
      animation-delay: 0.6s;
      animation-fill-mode: forwards;
      .effect-brush {
        animation-name: brush-moving;
        animation-duration: 2.5s;
        animation-fill-mode: forwards;
        animation-delay: 1.2s;
        [class*="fur-"] {
          bottom: 0;
          height: 40%;
        }
      }
    }
    .helper-3 {
      width: 75%;
      height: 12%;
      left: 32%;
      top: 44%;
      transform: rotate(-35deg);
      transform-origin: left center;
      overflow: hidden;
      .effect-brush {
        animation-name: brush-moving;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-delay: 0.8s;
      }
    }
    .helper-2 {
      width: 15%;
      height: 12%;
      left: 25%;
      top: 44%;
      transform: rotate(0deg);
      transform-origin: left center;
      overflow: hidden;
      .effect-brush {
        animation-name: brush-moving;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-delay: 0.5s;
      }
    }
  }

  &[letter="E"] {
    transform-origin: 30% center;
    .helper-1 {
      width: 19.5%;
      height: 100%;
      background-color: rgba($base-color, 0.5);
      left: 22%;
      top: 0;
      transform: rotate(180deg);
      animation-name: fading-lumieres-box;
      animation-duration: 2s;
      animation-delay: 0.6s;
      animation-fill-mode: forwards;
      .effect-brush {
        animation-name: brush-moving;
        animation-duration: 2.5s;
        animation-fill-mode: forwards;
        animation-delay: 1.2s;
        [class*="fur-"] {
          bottom: 0;
          height: 40%;
        }
      }
    }
    .helper-2 {
      width: 17.5%;
      height: 50%;
      left: 38%;
      top: -49px;
      transform: rotate(270deg);
      overflow: hidden;
      .effect-brush {
        animation-name: brush-moving;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-delay: 0.8s;
      }
    }
    .helper-3 {
      width: 17%;
      height: 39%;
      left: 33%;
      top: 29%;
      transform: rotate(-90deg);
      box-shadow: 0px 0px 35px -12px rgba(0, 0, 0, 0.4);
      overflow: hidden;
      animation-name: fading-out;
      animation-duration: 2s;
      animation-fill-mode: forwards;
      animation-delay: 1s;
      .effect-brush {
        animation-name: brush-moving;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-delay: 0.6s;
      }
    }
    .helper-4 {
      width: 17.5%;
      height: 50%;
      left: 38%;
      top: 196px;
      transform: rotate(270deg);
      overflow: hidden;
      .effect-brush {
        animation-name: brush-moving;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-delay: 0.5s;
      }
    }
  }

  &[letter="T"] {
    transform-origin: center center;
    .helper-1 {
      width: 19.5%;
      height: 100%;
      background-color: rgba($base-color, 0.5);
      left: 38%;
      top: 0;
      transform: rotate(180deg);
      animation-name: fading-lumieres-box;
      animation-duration: 2s;
      animation-delay: 0.6s;
      animation-fill-mode: forwards;
      .effect-brush {
        animation-name: brush-moving;
        animation-duration: 2.5s;
        animation-fill-mode: forwards;
        animation-delay: 1s;
        [class*="fur-"] {
          bottom: 0;
          height: 40%;
        }
      }
    }
    .helper-2 {
      width: 17.5%;
      height: 54%;
      left: 39%;
      top: -55px;
      transform: rotate(270deg);
      overflow: hidden;
      .effect-brush {
        animation-name: brush-moving;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-delay: 0.5s;
      }
    }
  }

  &[letter="F"] {
    transform-origin: 30% center;
    .helper-1 {
      width: 19.5%;
      height: 100%;
      background-color: rgba($base-color, 0.5);
      left: 22%;
      top: 0;
      transform: rotate(180deg);
      animation-name: fading-lumieres-box;
      animation-duration: 2s;
      animation-delay: 0.6s;
      animation-fill-mode: forwards;
      .effect-brush {
        animation-name: brush-moving;
        animation-duration: 2.5s;
        animation-fill-mode: forwards;
        animation-delay: 1.2s;
        [class*="fur-"] {
          bottom: 0;
          height: 40%;
        }
      }
    }
    .helper-2 {
      width: 17.5%;
      height: 50%;
      left: 38%;
      top: -49px;
      transform: rotate(270deg);
      overflow: hidden;
      .effect-brush {
        animation-name: brush-moving;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-delay: 0.7s;
      }
    }
    .helper-3 {
      width: 17%;
      height: 39%;
      left: 33%;
      top: 29%;
      transform: rotate(-90deg);
      box-shadow: 0px 0px 35px -12px rgba(0, 0, 0, 0.4);
      overflow: hidden;
      animation-name: fading-out;
      animation-duration: 2s;
      animation-fill-mode: forwards;
      animation-delay: 1s;
      .effect-brush {
        animation-name: brush-moving;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-delay: 0.5s;
      }
    }
  }

  &[letter="L"] {
    transform-origin: 30% center;
    .helper-1 {
      width: 19.5%;
      height: 100%;
      background-color: rgba($base-color, 0.5);
      left: 22%;
      top: 0;
      transform: rotate(180deg);
      animation-name: fading-lumieres-box;
      animation-duration: 2s;
      animation-delay: 0.6s;
      animation-fill-mode: forwards;
      .effect-brush {
        animation-name: brush-moving;
        animation-duration: 2.5s;
        animation-fill-mode: forwards;
        animation-delay: 0.8s;
        [class*="fur-"] {
          bottom: 0;
          height: 40%;
        }
      }
    }
    .helper-2 {
      width: 17.5%;
      height: 50%;
      left: 38%;
      top: 196px;
      transform: rotate(270deg);
      overflow: hidden;
      .effect-brush {
        animation-name: brush-moving;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-delay: 0.4s;
      }
    }
  }

  &[letter="I"] {
    transform-origin: center center;
    .helper-1 {
      width: 19.5%;
      height: 100%;
      background-color: rgba($base-color, 0.5);
      left: 38%;
      top: 0;
      transform: rotate(180deg);
      animation-name: fading-lumieres-box;
      animation-duration: 2s;
      animation-delay: 0.6s;
      animation-fill-mode: forwards;
      .effect-brush {
        animation-name: brush-moving;
        animation-duration: 2.5s;
        animation-fill-mode: forwards;
        animation-delay: 1s;
        [class*="fur-"] {
          bottom: 0;
          height: 40%;
        }
      }
    }
  }

  &[letter="X"] {
    transform-origin: center center;
    .helper-1 {
      width: 19%;
      height: 150%;
      left: 40.5%;
      top: -25%;
      transform: rotate(-19.5deg);
      animation-name: fading-lumieres-box;
      animation-duration: 2s;
      animation-delay: 0.6s;
      animation-fill-mode: forwards;
      .effect-brush {
        animation-name: brush-moving;
        animation-duration: 2.5s;
        animation-fill-mode: forwards;
        animation-delay: 1.2s;
        [class*="fur-"] {
          bottom: 0;
          height: 40%;
        }
      }
    }
    .helper-2 {
      width: 19%;
      height: 150%;
      left: 40.5%;
      top: -25%;
      transform: rotate(19.5deg);
      overflow: hidden;
      .effect-brush {
        animation-name: brush-moving;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-delay: 0.5s;
      }
    }
  }

  [class*="helper-"] {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
    .effect-brush {
      position: absolute;
      width: 100%;
      height: 300%;
      top: 0;
      overflow: hidden;

      &::before {
        display: block;
        content: "";
        position: absolute;
        background-color: $base-color;
        width: 100%;
        height: 70%;
        box-shadow: 0px 0px 29px 24px $base-color;
      }
      
      [class*="fur-"] {
        display: block;
        position: absolute;
        bottom: 10%;
        height: 30%;
      }

      @for $i from 1 through 31 {
        .fur-#{$i} {
          left: percentage(($i - 1) / 31);
          width: percentage(1 / 31);
          background: linear-gradient(to bottom, 
            $base-color 0%, 
            $base-color percentage(random(50)), 
            rgba(0, 0, 0, 0) percentage(random(80) + 20), 
            rgba(0, 0, 0, 0) 100%);
        }
      }
    }

    .effect-lumieres {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      animation-name: showing-lumieres;
      animation-duration: 2s;
      animation-delay: 1.6s;
      animation-fill-mode: forwards;

      [class*="lamp-"] {
        position: absolute;
        display: block;
        height: 100%;
        box-shadow: 0px 0px 10px 0px rgba($base-color, 0.75);
        background: var(--color);

        &::before {
          position: absolute;
          content: " ";
          display: block;
          width: 100%;
          height: 100%;
          background: var(--color);
          box-shadow: 0px 0px 10px 0px rgba($base-color, 0.75);
        }
      }

      @for $i from 1 through 28 {
        $color: nth(map-values($lamp-colors), random(length($lamp-colors)));
        .lamp-#{$i} {
          --color: #{$color};
          left: percentage(($i - 1) / 28);
          width: percentage(1 / 28);
          animation-delay: #{random(200) / 100}s;
          
          &::before {
            left: percentage(random(100) / 100);
            animation-delay: #{random(200) / 100}s;
          }
        }
      }

      .lamp-1, .lamp-3, .lamp-5, .lamp-7, .lamp-9, .lamp-11, .lamp-13, .lamp-15,
      .lamp-17, .lamp-19, .lamp-21, .lamp-23, .lamp-25, .lamp-27 {
        animation-name: lumieres-moving-left;
        animation-duration: 5s;
        animation-fill-mode: forwards;
        
        &::before {
          animation-name: lumieres-moving-left;
          animation-duration: 5.5s;
        }
      }
      
      .lamp-2, .lamp-4, .lamp-6, .lamp-8, .lamp-10, .lamp-12, .lamp-14, .lamp-16,
      .lamp-18, .lamp-20, .lamp-22, .lamp-24, .lamp-26, .lamp-28 {
        animation-name: lumieres-moving-right;
        animation-duration: 5s;
        animation-fill-mode: forwards;
        
        &::before {
          animation-name: lumieres-moving-right;
          animation-duration: 5.5s;
        }
      }
    }
  }
}

@keyframes brush-moving {
  0% { transform: translateY(0); }
  100% { transform: translateY(-100%); }
}

@keyframes fading-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes lumieres-moving-right {
  0% { transform: translate(0); }
  40% { transform: translate(-10px) scaleX(1); }
  50% { transform: translate(-60px); }
  100% { transform: translate(-120px) scaleX(3); }
}

@keyframes lumieres-moving-left {
  0% { transform: translate(0); }
  40% { transform: translate(10px) scaleX(1); }
  50% { transform: translate(60px); }
  100% { transform: translate(120px) scaleX(3); }
}

@keyframes zoom-in {
  0% { transform: scale(1); }
  100% { transform: scale(15); }
}

@keyframes showing-lumieres {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fading-lumieres-box {
  0% { background-color: rgba($base-color, 0.5); }
  100% { background-color: rgba($base-color, 0); }
}