<div id="container">
  <h1 [class.hide]="showAnimation" (click)="startAnimation()" class="name-text">
      <!-- Click Here Indicator -->
    <div class="click-indicator" *ngIf="!showAnimation">
      <span class="click-text">Click Here</span>
      <div class="arrow-container">
        <svg class="curved-arrow" viewBox="0 0 60 40" xmlns="http://www.w3.org/2000/svg">
            <!-- Straight Arrow Path -->
          <path 
            class="arrow-path" 
            d="M 30 5 L 30 30" 
            stroke-dasharray="30" 
            stroke-dashoffset="0">
            <animate 
              attributeName="stroke-dashoffset" 
              values="30;0;30" 
              dur="2s" 
              repeatCount="indefinite"/>
          </path>
          <!-- Arrow Head (pointing straight down) -->
          <polygon 
            class="arrow-head" 
            points="30,30 25,23 35,23">
            <animateTransform
              attributeName="transform"
              type="translate"
              values="0,0; 0,3; 0,0"
              dur="2s"
              repeatCount="indefinite"/>
          </polygon>
        </svg>
      </div>
    </div>
    KANNAN
  </h1>
  <br>
  <span *ngIf="!showAnimation" style="position: absolute;top: 20rem;color:white">Inspired by Netflix</span>
  <div iv 
    class="animation-wrapper" 
    #animationWrapper
    *ngIf="showAnimation">
    <app-netflix-intro letter="K">
  </app-netflix-intro>
  
</div>