$bg-color: #000000;
$netflix-red: #e50914;

:host {
  display: block;
  width: 100%;
  height: 100vh;
  background-color: $bg-color;
}

#container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-text {
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
  color: $netflix-red;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0;
  opacity: 1;
  position: absolute;
  z-index: 2;
  
  &:hover {
    transform: scale(1.1);
  }

  &.hide {
    opacity: 0;
    transform: scale(0.8);
    pointer-events: none;
  }
}

.animation-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  app-netflix-intro {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}