<app-navbar [menuItems]="menuItems()" logoClickRoute="/"></app-navbar>
<app-hero-video [videoSource]="videoSrc()"
  [text]="overlayText()" height="75vh"></app-hero-video>
<section class="content-section">
 <div class="hover-cards-container">
    <h2 class="section-title">Explore More</h2>
    <div class="hover-cards-wrapper">
      @for (card of gridcard(); track card.id) {
        <app-top-cards-grid [card]="card" />
      }
    </div>
</div>
<div class="hover-cards-container">
    <h2 class="section-title">Explore More</h2>
    <div class="hover-cards-wrapper">
      @for (card of cards(); track card.id) {
        <app-elements [card]="card" />
      }
    </div>
</div>
<div>
  <app-contact-me></app-contact-me>
</div>
</section>