@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

:root {
    --netflix-red: #E50914;
    --netflix-black: #141414;
    --netflix-dark-gray: #181818;
    --netflix-light-gray: #808080;
}
